<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sampa.tasksreminder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sampa.tasksreminder.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sampa.tasksreminder.NewTaskActivity_"
            android:label="@string/title_activity_new_task"
            android:parentActivityName="com.sampa.tasksreminder.MainActivity_"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampa.tasksreminder.MainActivity_" />
        </activity>
        <activity
            android:name="com.sampa.tasksreminder.DatePickerActivity_"
            android:label="@string/title_activity_date_picker" >
        </activity>
        <activity
            android:name="com.sampa.tasksreminder.ShowTaskActivity_"
            android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true" >
        </activity>

        <receiver android:name="com.sampa.tasksreminder.AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.sampa.tasksreminder.AlarmService"
            android:enabled="true" />

        <receiver
            android:name="AlarmReceiver"
            android:process=":remote" >
        </receiver>
    </application>

</manifest>